<% include ../partials/header %>

<p><%= outdoorspace.name %></p>

<img src="<%= outdoorspace.image %>">

<p><%= outdoorspace.description %></p>

<% outdoorspace.comments.forEach(function(comment){ %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>
	</p>
<% }) %>

<% include ../partials/footer %>